#chat-box {
    background: #f7f7f7;
    font-size: 0.95rem;
  }
  
  #chat-box .bg-white {
    max-width: 60%;
  }
  
  #chat-response .bg-primary,
  #chat-response .bg-success {
    max-width: fit-content;
  }
  